@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  /* outline: solid 1px red; */
  font-weight: normal;
  box-sizing: border-box;
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

.font-english {
  font-family: "Kaisei Decol", serif;
}

/* レイアウト 
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/
body {
  background-color: blanchedalmond;
  font-family: "Kaisei Decol", serif;
  line-height: 1.7;
  background-image: url(../img/background.png);
  background-size: cover;
  color: #777;
}

.heading-large {
  text-align: center;
  position: relative;
  padding-bottom: 12px;
}

/* 
ヘッダー 
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/

h1 a {
  color: #fff;
  font-size: 20px;
}

.page-header {
  padding: 1rem;
  background-color: #8b5e3c;
}

.align-center .logo {
  width: 70px;
  border-radius: 50%;
  margin-left: 20px;
}

h1 a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
  font-size: 20px;
}

.main-nav {
  display: flex;
  justify-content: center;
  gap: .75rem;
  font-size: 1rem;
  list-style: none;
  margin-top: 1rem;
}

.main-nav a {
  color: #fff;
}

.main-nav a:hover {
  color: burlywood;
}

/* 
見出し
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/
.page-title,
.heading-large {
  display: block;
  text-align: left;
  margin-bottom: 1rem;
  /* border-bottom: dotted 5px #c58b5b; */
  margin-top: 0;
}

.page-title {
  width: 100%;
  padding-top: 2rem;
  line-height: 1.4;
  padding-left: .8rem;
}

.page-title p {
  font-size: .9rem;

}

.heading-large {
  font-size: 1.7rem;
  display: inline-block;
  border-bottom: dotted 5px #c58b5b;
  margin-left: .5rem;
}

.title {
  display: flex;
  justify-content: flex-end;
  margin-left: 2.8rem;
}

.title img {
  width: 100px;
}

/* 
内容
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/

.top {
  position: relative;
  display: flex;
  align-items: center;
}

.top-top {
  width: 100%;
}

.catchcopy {
  position: absolute;
  left: 5%;
  top: 4%;
  color: #fff;
  font-size: 1.8rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}

#catchcopy {
  margin-bottom: 90px;
}

.btn_top a {
  font-size: 1.2rem;
  color: #fff;
  background-color: #c58b5b;
  padding: 0 10px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  margin-right: 10px;
  outline: solid 1px #8b5e3c;
}

.top img {
  width: 100%;
  background-position: center;
  margin: 0;
}

.about,
.menu {
  max-width: 736px;
  /* padding: 0 1.5rem; */
  margin: 2rem auto 0;
}

.about p,
.menu {
  margin-bottom: 5rem;
  /* padding: 0 1rem; */
}

.about p,
.menu p {
  padding: .5rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1em .7rem;
  justify-content: center;
  padding: .5rem;
}

.item {
  width: 48%;
}

.item img {
  width: 100%;
  border-radius: 20px;
  transition: .3s;
}

.item img:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.flex p {
  font-size: .75rem;
}

/* 
ボタン
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/
.btn {
  display: inline-block;
  font-size: 1.3rem;
  background-color: #c58b5b;
  color: #fff;
  border-radius: 8px;
  padding: .5rem 1.5rem;
  transition: .5s;
  margin: 5rem 4rem;
  outline: solid 1px #8b5e3c;
}

.btn:hover {
  background-color: #8b5e3c;
  color: white;
}

/* メニュー */

.menu_top {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.menu_top p {
  font-family: "Kaisei", serif;
  position: absolute;
  left: 5%;
  top: 2%;
  color: #fff;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}

.inner {
  text-align: center;
  margin: 100px 0;
}


#line img {
  width: 200px;
  object-fit: cover;
}


.menu_flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1em .7rem;
  justify-content: center;
  padding: .5rem;
  /* margin: 50% 0; */
}

/* 
お問い合わせ
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/

.contact_top {
  font-family: "Kaisei", serif;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.contact_top p {
  font-family: "Kaisei", serif;
  position: absolute;
  left: 5%;
  top: 5%;
  color: #fff;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}

.contact {
  background-color: #ffffff;
  padding: 32px;
  border-radius: 16px;
  width: 90%;
  margin: 40px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact .name,
.contact .gender,
.contact .option,
.contact .message {
  margin-bottom: 1rem;
}

.contact .name {
  margin-top: 1rem;
  border: solid 1px #777;
  border-radius: 8px;
  width: 70%;
}

.contact .option {
  border: solid 1px #777;
  color: #777;
  border-radius: 8px;
  padding: 0 1rem;
}

.contact .message {
  border: solid 1px #777;
  border-radius: 8px;
  width: 90%;
}

.contact textarea {
  width: 100%;
}

.action {
  max-width: 50%;

}

.box_02 {
  text-align: center;
  margin-top: 24px;
}

/* news */

/* NEWS */

.news_top {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.news_top p {
  font-family: "Kaisei", serif;
  position: absolute;
  left: 5%;
  top: 2%;
  color: #fff;
  font-size:3rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}

.article-top p{
text-align: center;
}


/* 
フッター
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/
.info {
  width: 100%;
  max-width: 544px;
  padding: 0 1.5rem;
  border-spacing: 0;
}

h3 {
  padding: .5rem;
}

.info th,
.info td {
  border-bottom: dotted 1px #8b5e3c;
}

.info th {
  text-align: left;
  font-weight: normal;
  padding: 1rem;
}

.info td {
  padding: 1rem 0
}

.map {
  margin: 20px;
  height: 70%;
}

.map iframe {
  width: 100%;
  height: 500px;
}

.copyright {
  background-color: #8b5e3c;
  text-align: center;
  padding: .5rem 0;
  margin-top: 6rem;
  color: #fff;
}

@media (min-width: 800px) {

  h1 a {
    font-size: 1.5rem;
  }

  /* 
見出し
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/

  .page-title {
    font-size: 5rem;
  }

  .heading-large {
    font-size: 4rem;
  }

  .main-nav {
   font-family: "Kaisei Decol", serif;
    font-size: 1.5rem;
    gap: 2rem;
  }

  /* 
ヘッダー 
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/

  .page-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
  }

  /* 
内容
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/

  .top-top {
    width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: bottom;
  }

  .page-title {
    padding-top: 6rem;
    font-size: 4rem;
  }

  .page-title p {
    font-size: 2.5rem;
  }

  .title {
    width: 70%;
    margin-left: auto;
    margin-right: 30px;
  }

  .title img {
    width: 30%;
    object-fit: cover;
    margin-right: 15px;
  }

  .item img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
  }

  .heading-large {
    font-size: 4rem;
    display: inline-block;
    border-bottom: dotted 5px #c58b5b;
    margin-left: 1rem;
  }

  .top {
    position: relative;
    display: flex;
    align-items: center;
  }

  .top-top {
    width: 100%;
  }

  .catchcopy {
    position: absolute;
    left: 5%;
    top: 4%;
    color: #fff;
    font-size: 6rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
  }

  #catchcopy {
    margin-bottom: 250px;
  }

  .btn_top a {
    font-size: 4rem;
    color: #fff;
    background-color: #c58b5b;
    padding: 0 10px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    margin-right: 30px;
    outline: solid 1px #8b5e3c;
  }


  .about,
  .menu {
    max-width: 2000px;
    width: 100%;
    margin: 4rem 0 0 0;
  }

  .about p,
  .menu p {
    font-size: 2.4rem;
  }

  .about p,
  .menu p {
    width: 95%;
    padding-left: 1rem;
  }

  .menu p {
    margin-bottom: 2rem;
  }

  .item {
    width: 23%;
    gap: 1rem 5rem;
  }

  .flex {
    gap: 1em 1rem;
  }

  .flex p {
    font-size: 1.2rem;
  }



  /* 
ボタン
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/
  .btn {
    margin-left: 40%;
    font-size: 2rem;
    background-color: #c58b5b;
    color: #fff;
    border-radius: 8px;
    padding: .5rem 1.5rem;
    transition: .5s;

    outline: solid 1px #8b5e3c;
  }

  .btn:hover {
    background-color: #8b5e3c;
    color: white;
  }


  /* メニュー */
  .menu_top img {
    width: 100%;
    height: 800px;
    object-position: top;
    object-fit: cover;
  }

  .inner {
    text-align: center;
    margin: 100px 0;
  }


  #line img {
    width: 500px;
    object-fit: cover;
  }

  .menu_top p {
    font-size: 10rem;
    font-family: "Kaisei Decol", serif;
  }

/* NEWS */

.news_top {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.news_top p {
  font-family: "Kaisei", serif;
  position: absolute;
  left: 5%;
  top: 2%;
  color: #fff;
  font-size: 10rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}


/* NEWS */

.article-top p{
font-size: 3rem;
}


  /* 
お問い合わせ
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/

  form {
    margin: 0 auto;
  }

  .contact {
    text-align: center;
    font-size: 2rem;
    width: 90%;
  }

.contact_top {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.contact_top p {
  font-family: "Kaisei", serif;
  position: absolute;
  left: 5%;
  top: 2%;
  color: #fff;
  font-size: 10rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}


  .contact .name,
  .contact .gender,
  .contact .option,
  .contact .message {
    margin-bottom: 2rem;
  }

  .contact .name {
    width: 50%;
    margin-top: 2rem;
    border: solid 1px #777;
    border-radius: 8px;
  }

  .contact .option {
    border: solid 1px #777;
    border-radius: 8px;
    padding: 0 1rem;
  }

  .contact .message {
    width: 70%;
    border: solid 1px #777;
    border-radius: 8px;
  }

  .contact .message p {
    padding-bottom: 10%;
  }

  .action {
    max-width: 25%;
  }

  /* 
フッター
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/
  .info {
    width: 100%;
    max-width: 544px;
    padding: 0 1.5rem;
    border-spacing: 0;

  }

  .info th,
  .info td {
    font-size: 1.2rem;
    padding: 30px 0;
  }

  .info-map {
    display: flex;
    gap: 40px;
    align-items: flex-start;
  }

  .info {
    width: 40%;
    max-width: none;

  }

  .map {
    width: 50%;
    margin: 0;
  }

  .map iframe {
    width: 100%;
    height: 500px;
    display: block;
  }
}