@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  /* outline: solid 1px red; */
  font-weight: normal;
  box-sizing: border-box;
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

.font-english {
  font-family: "Kaisei Decol", serif;
}

/* レイアウト 
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/
body {
  background-color: blanchedalmond;
  font-family: "Kaisei Decol", serif;
  line-height: 1.7;
  background-image: url(../img/background.png);
  background-repeat: repeat;
  width: 100%;
  color: #777;
}

.heading-large {
  text-align: center;
  position: relative;
  padding-bottom: 12px;
}

/* 
ヘッダー 
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/

.page-header {
  padding: 1rem 1rem .5rem;
  /* background-color: #eee; */
  background-color: #8b5e3c;
}

.align-center .logo {
  width: 70px;
  border-radius: 50%;
  margin-left: 20px;
}

h1 a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
  font-size: 20px;
  margin-bottom: .5rem;
}

.main-nav {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  list-style: none;
  gap: .5rem;
}

nav {
  padding: 10px 0;
  background-color: #8b5e3c;

}

nav li {
  background-color: #c58b5b;
  border: 2px solid #8b5e3c;
  border-radius: 10px;
  color: #fff;
  border-radius: 8px;
  margin-right: 10px;
  padding: 1px 0;
  outline: dashed 1px #fff;
  outline-offset: -6px;
}



.main-nav a {
  color: #fff;
  padding: .8rem;
}

.main-nav a:hover {
  color: burlywood;
}

/* 
見出し
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/
.page-title,
.heading-large {
  display: block;
  text-align: left;
  margin-bottom: 1rem;
  /* border-bottom: dotted 5px #c58b5b; */
  margin-top: 0;
}

.page-title {
  width: 100%;
  padding-top: 3rem;
  line-height: 1.4;
  padding-left: .8rem;
}

.page-title p {
  font-size: .9rem;

}

.heading-large {
  font-size: 1.7rem;
  display: inline-block;
  border-bottom: dotted 5px #c58b5b;
  margin-left: .5rem;
}

.title {
  display: flex;
  justify-content: flex-end;
  margin-left: 2.8rem;
}

.title img {
  width: 100px;
}

/* 
内容
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/

.top {
  position: relative;
  display: flex;
  align-items: center;
}

.top-top {
  width: 100%;
}

.small {
  font-size: .6rem;

}

.catchcopy {
  position: absolute;
  left: 5%;
  top: 1%;
  color: #fff;
  font-size: 1.8rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}

#catchcopy {
  margin-bottom: 65px;
}

.btn_top a {
  font-size: 1.2rem;
  color: #fff;
  background-color: #c58b5b;
  padding: 2px 10px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  margin-right: 10px;
  outline: dashed 1px #fff;
  outline-offset: -4px;
  transition: .5s;
}

.btn_top a:hover {
  background-color: #8b5e3c;
  color: white;
}

.top img {
  width: 100%;
  background-position: center;
  margin: 0;
}

.about,
.menu {
  margin: 2rem auto 0;
}

.about p,
.menu {
  margin-bottom: 5rem;
  /* padding: 0 1rem; */
}

.about p,
.menu p {
  padding: .5rem;
}

.menu_card {
  position: relative;
  width: 30%;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 24px;
  padding: 110px 20px 30px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, .15);
  margin-top: 100px;
}

.menu_card img {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 190px;
  border-radius: 20px;
}

.menu_card h4 {
  font-size: 1.2rem;
  color: #8b5e3c;
  font-weight: bold;
}

.menu_card p {
  font-size: 1rem;
  margin-top: 2rem;
}

.price {
  font-size: 2rem;
  color: #c58b5b;
  font-weight: bold;
}

.menu_card {
  width: 90%;
}

.other .btn {
  display: inline-block;
  font-size: 1.3rem;
  background-color: #c58b5b;
  color: #fff;
  border-radius: 8px;
  padding: .5rem 1.5rem;
  margin: 5rem 4rem;
  outline: dashed 1px #fff;
  outline-offset: -6px;
}


/* 
ボタン
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/
.btn {
  display: inline-block;
  font-size: 1.3rem;
  background-color: #c58b5b;
  color: #fff;
  border-radius: 8px;
  padding: .5rem 1.5rem;
  transition: .5s;
  margin: 5rem 4rem;
  outline: dashed 1px #fff;
  outline-offset: -6px;
}

.btn:hover {
  background-color: #8b5e3c;
  color: white;
}

/* メニュー */

.menu_top {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.menu_top p {
  font-family: "Kaisei", serif;
  position: absolute;
  left: 5%;
  top: 2%;
  color: #fff;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}

.inner {
  text-align: center;
  margin: 100px 0;
}


#line img {
  width: 200px;
  object-fit: cover;
}


.menu_flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1em .7rem;
  justify-content: center;
  padding: .5rem;
  /* margin: 50% 0; */
}

/* 
お問い合わせ
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/

.contact_top {
  font-family: "Kaisei", serif;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.contact_top p {
  font-family: "Kaisei", serif;
  position: absolute;
  left: 5%;
  top: 5%;
  color: #fff;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}

.contact {
  background-color: #ffffff;
  padding: 32px;
  border-radius: 16px;
  width: 90%;
  margin: 40px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact h4 {
  margin-bottom: 2rem;
}

.contact .name,
.contact .mail,
.contact .gender,
.contact .option,
.contact .message {
  margin-bottom: 2rem;
}

.contact .name {
  border: solid 1px #777;
  border-radius: 8px;
  width: 70%;
}

.contact .mail {
  width: 70%;
  border: solid 1px #777;
  border-radius: 8px;
}


.contact .option {
  border: solid 1px #777;
  color: #777;
  border-radius: 8px;
  padding: 0 1rem;
}

.contact .message {
  border: solid 1px #777;
  border-radius: 8px;
  width: 90%;
}

.contact textarea {
  width: 100%;
  overflow: auto;
  resize: vertical;
}

.contact .btn {
  margin: 2rem 3.5rem;
  font-size: 1.2rem;
}

/* NEWS */

.news_top {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.news_top p {
  font-family: "Kaisei", serif;
  position: absolute;
  left: 5%;
  top: 2%;
  color: #fff;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}

.article-top p {
  text-align: center;
}


/* 
フッター
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/
.info {
  width: 100%;
  max-width: 544px;
  padding: 0 1.5rem;
  border-spacing: 0;
}

h3 {
  padding: .5rem;
}

.info th,
.info td {
  border-bottom: dotted 1px #8b5e3c;
}

.info th {
  text-align: left;
  font-weight: normal;
  padding: 1rem;
}

.info td {
  padding: 1rem 0
}

.map {
  margin: 20px;
  height: 70%;
}

.map iframe {
  width: 100%;
  height: 500px;
}

.leaf img {
  margin-top: 5rem;
  margin-left: 80%;
  object-fit: cover;
  max-width: 10%;
}


.copyright {
  background-color: #8b5e3c;
  text-align: center;
  padding: .5rem 0;
  color: #fff;
}

@media (min-width: 800px) {


  h1 a {
    font-size: 2rem;
  }

  /* 
見出し
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/

  .page-title {
    font-size: 5rem;
  }

  .heading-large {
    font-size: 4rem;
  }

  .main-nav {
    font-family: "Kaisei Decol", serif;
    font-size: 2rem;
    gap: 1rem;
  }

  .main-nav li {
    padding: 0 1.5rem;
  }

  /* 
ヘッダー 
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/

  .page-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
  }

  /* 
内容
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/

  .top-top {
    object-fit: cover;
    object-position: top;
  }

  .page-title {
    padding-top: 6rem;
    font-size: 4rem;
  }

  .page-title p {
    font-size: 2.5rem;
  }

  .title {
    width: 70%;
    margin-left: auto;
    margin-right: 30px;
  }

  .title img {
    width: 30%;
    object-fit: cover;
    margin-right: 15px;
  }

  .heading-large {
    font-size: 4rem;
    display: inline-block;
    border-bottom: dotted 5px #c58b5b;
    margin-left: 1rem;
  }

  .top {
    position: relative;
    display: flex;
    align-items: center;
  }

  .small {
    font-size: 2rem;
  }

  .catchcopy {
    position: absolute;
    left: 5%;
    top: 4%;
    color: #fff;
    font-size: 6rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
  }

  #catchcopy {
    margin-bottom: 300px;
  }

  .btn_top a {
    font-size: 3.5rem;
    color: #fff;
    background-color: #c58b5b;
    padding: 5px 20px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    margin-right: 30px;
    outline: dashed 2.5px #fff;
    outline-offset: -6px;
  }


  .about,
  .menu {
    max-width: 2000px;
    width: 100%;
    margin: 4rem 0 0 0;
  }

  .about p,
  .menu p {
    font-size: 2.4rem;
  }

  .about p,
  .menu p {
    width: 95%;
    padding-left: 1rem;
  }

  .menu p {
    margin-bottom: 2rem;
  }

  .menu_flex {
    gap: 5em 2rem;

  }

  .menu_card {
    position: relative;
    width: 30%;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 24px;
    padding: 110px 20px 30px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .15);
    margin-top: 100px;
  }

  .menu_card img {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    border-radius: 20px;
    gap: 15px;
  }

  .menu_card h4 {
    font-size: 2.5rem;
    margin-top: 110px;
  }

  .menu_card p {
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  .price {
    font-size: 1.5rem;
    margin-top: 16px;
  }

  .menu_card {
    width: 45%;
  }

  .other .btn {
    font-size: 2.5rem;
    background-color: #c58b5b;
    color: #fff;
    border-radius: 8px;
    padding: .5rem 1.5rem;
    margin: 5rem 30rem;
    outline: dashed 1px #fff;
    outline-offset: -6px;
  }

  /* 
ボタン
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/
  .btn {
    margin-left: 40%;
    font-size: 2rem;
    background-color: #c58b5b;
    color: #fff;
    border-radius: 8px;
    padding: .5rem 1.5rem;
    transition: .5s;
    outline: dashed 3px #fff;
    outline-offset: -6px;
  }

  .btn:hover {
    background-color: #8b5e3c;
    color: white;
  }


  /* メニュー */
  .menu_top img {
    width: 100%;
    height: 800px;
    object-position: top;
    object-fit: cover;
  }

  .inner {
    text-align: center;
    margin: 100px 0;
  }


  #line img {
    width: 500px;
    object-fit: cover;
  }

  .menu_top p {
    font-size: 10rem;
    font-family: "Kaisei Decol", serif;
  }

  /* NEWS */

  .news_top {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .news_top p {
    font-family: "Kaisei", serif;
    position: absolute;
    left: 5%;
    top: 2%;
    color: #fff;
    font-size: 10rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
  }


  /* NEWS */

  .article-top p {
    font-size: 3rem;
  }


  /* 
お問い合わせ
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/

  form {
    margin: 0 auto;
  }

  .contact {
    text-align: center;
    font-size: 2rem;
    width: 90%;
  }

  .contact_top {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .contact_top p {
    font-family: "Kaisei", serif;
    position: absolute;
    left: 5%;
    top: 2%;
    color: #fff;
    font-size: 10rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
  }

  .contact h4 {
    margin-bottom: 5rem;
  }

  .contact .name,
  .contact .mail,
  .contact .gender,
  .contact .option,
  .contact .message {
    margin-bottom: 4rem;
  }

  .contact .name {
    width: 50%;
    border: solid 1px #777;
    border-radius: 8px;

  }

  .contact .mail {
    width: 50%;
    border: solid 1px #777;
    border-radius: 8px;
  }


  .contact .option {
    border: solid 1px #777;
    border-radius: 8px;
    padding: 0 1rem;
    width: 50%;

  }

  .contact .message {
    width: 70%;
    border: solid 1px #777;
    border-radius: 8px;
  }

  .contact .message p {
    margin: 3rem 0;
  }

  .contact .btn {
    text-align: center;
  }

  .contact .btn {
    margin: 2rem 3.5rem;
    font-size: 2.3rem;
  }

  /* 
フッター
ｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰｰ*/
  .info {
    width: 100%;
    max-width: 544px;
    padding: 0 1.5rem;
    border-spacing: 0;

  }

  .info th,
  .info td {
    font-size: 1.2rem;
    padding: 30px 0;
  }

  .info-map {
    display: flex;
    gap: 40px;
    align-items: flex-start;
  }

  .info {
    width: 40%;
    max-width: none;

  }

  .map {
    width: 50%;
    margin: 0;
  }

  .map iframe {
    width: 100%;
    height: 500px;
    display: block;
  }

  .leaf img {
    margin-top: 5rem;
    margin-left: 90%;
    object-fit: cover;
    max-width: 5%;
  }

}